/* Info */

.info{
    height:250px;
    background-color: white;
    width: 100%;
}

/* Set parent of those 3 divs to flex */
.about-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.sec{
    text-align: center;
    padding: 0 12px;
}


.sec h3{
    font-weight:bold;
    padding: 10px;
}

/* About 2 */
.info2{  
    width: 100%;
}

.about-info2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.sec2b{
    background-color: #28a745;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sec2b a{
    
    margin-left: 30px;
    border: 1px solid white;
}

.sec2 h1, p, a{
    padding: 10px 0;
}

.sec2 h1{
    font-size: 50px;
}

.sec2 #head{
    font-weight: bold;
}